<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="VotingSystem.Properties.Settings.VotingSystemConnectionString"
            connectionString="Data Source=DESKTOP-BU0UST2\SQLEXPRESS;Initial Catalog=VotingSystem;User ID=sa;Password=shree;Encrypt=False;TrustServerCertificate=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
</configuration>